{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>Dashboard</h2>
<p>Vitaj {{ user.username }}</p>
<h4>Prehľad</h4>
<p>Počet poistení: {{ insurance_count }}</p>
{% if user.is_staff %}
<p>Počet poistencov: {{ policyholder_count }}</p>
{% endif %}
{% if not user.is_staff %}
<h4>Moje poistenia</h4>
{% if insurances %}
    <ul>
        {% for insurance in insurances %}
        <li>{{ insurance }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Zatiaľ nemáš žiadne poistenie.</p>
{% endif %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Názov</th>
            <th>Typ</th>
            <th>Začiatok</th>
            <th>Akcie</th>
        </tr>
    </thead>
    <tbody>
    {% for insurance in insurances %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ insurance.insurance_type }}</td>
            <td>{{ insurance.insured_object }}</td>
            <td>{{ insurance.valid_from }}</td>
            <td>
                <a class="btn btn-secondary" href="{% url 'insurance_detail' insurance.pk %}">
                    Detail
                </a>
                <a class="btn btn-edit" href="{% url 'insurance_update' insurance.pk %}">
                    Upraviť
                </a>
                <a class="btn btn-delete" href="{%  url 'insurance_delete' insurance.pk %}">
                    Vymazať
                </a>
            </td>
        </tr>
    {% empty %}
    <tr>
        <td class="text-center" colspan="5">
            Zatiaľ nemáš žiadne poistenie.
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="nav-left">
    <a class="btn btn-secondary" href="{% url 'insurance_create' %}">Vytvoriť nové poistenie</a>
</div>
{% endif %}
{% endblock %}