{% extends "base.html" %}
{% block title %}Zoznam poistení{% endblock %}
{% block content %}
<h3>Zoznam poistení</h3>
<table class="table table-bordered" >
    <thead>
        <tr>
            <th>Druh poistenia</th>
            <th>Poistenec</th>
            <th>Suma</th>
        </tr>
    </thead>
    <tbody>
        {% for insurance in insurances %}
        <tr>
            <td>
                <a href="{% url 'insurance_detail' insurance.pk %}">
                    {{ insurance.insurance_type }}
                </a>
            </td>
            <td>
                <a href="{% url 'policyholder_detail' insurance.policyholder.pk %}">
                    {{ insurance.policyholder }}
                </a>
            </td>
            <td>{{ insurance.amount }} €</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Žiadne poistenia</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Pagination" class="pagination-wrapper">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
